In [24]:
import pandas as pd
import numpy as np

In [4]:
# creating a data frame
data = {"cola": [1, 2, 3, 4], "colb": ["one", "two", "three", "four"],
       "colc": ["some", "random", "values", "stuff"]}

# using a dict
pd.DataFrame(data)

   cola   colb    colc
0     1    one    some
1     2    two  random
2     3  three  values
3     4   four   stuff

In [7]:
# using a dict, specifying column order
pd.DataFrame(data, columns=("colb", "cola", "colc"))

    colb  cola    colc
0    one     1    some
1    two     2  random
2  three     3  values
3   four     4   stuff

In [8]:
# using a dict, specifying not all the columns
pd.DataFrame(data, columns=("colb", "cola"))

    colb  cola
0    one     1
1    two     2
2  three     3
3   four     4

In [11]:
# using a list (assumes by row, can't be an iterator)
pd.DataFrame(list(data.values()))

      0       1       2      3
0   one     two   three   four
1     1       2       3      4
2  some  random  values  stuff

In [22]:
# using a list (force columns), assign names (must be same length as cols)
pd.DataFrame(list(zip(*data.values())), columns=("colb", "cola", "colc"))

    colb  cola    colc
0    one     1    some
1    two     2  random
2  three     3  values
3   four     4   stuff

In [26]:
# using an ndarray
arr = np.array(range(9)).reshape((3, 3))
pd.DataFrame(arr)

   0  1  2
0  0  1  2
1  3  4  5
2  6  7  8

In [62]:
df = pd.DataFrame(data)
df.loc[:, ["cola", 2, 3]]

   cola   2   3
0     1 NaN NaN
1     2 NaN NaN
2     3 NaN NaN
3     4 NaN NaN

In [75]:
df.to_csv(index=False)

'cola,colb,colc\n1,one,some\n2,two,random\n3,three,values\n4,four,stuff\n'